/genius-car-1/genius-car-client-module-69/node_modules
/genius-car-1/genius-car-client-module-69/.env.local
/genius-car-1/genius-car-server-67/node_modules
/genius-car-1/genius-car-server-67/.env
/genius-car-2/reactjs-genius-car-client-side/node_modules
/genius-car-2/reactjs-genius-car-client-side/.env.local
/genius-car-2/reactjs-genius-car-server-side/node_modules
/genius-car-2/reactjs-genius-car-server-side/.env